@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand';
  color: #464646;
}

.weather-card {
  height: 100%;
  width: 100%;
  position: relative;
}

.weather-card form {
  padding: 10px;
}

.weather-card form input[type=text] {
  width: 100%;
}

.weather-card .intro {
  text-align: center;
}

.weather-card .weather-detail {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-card .weather-detail h3 {
  font-size: 6em;
}

.weather-card .weather-list ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.weather-card .weather-list ul li {
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.weather-card .weather-list ul li p:first-child {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.weather-card .weather-list ul li img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.weather-card .weather-list ul .clickStyle {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
}

.weather-card .weather-image {
  pointer-events: none;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-filter: blur(70px);
          filter: blur(70px);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.weather-card .cardside-image {
  display: none;
}

@media (min-width: 576px) {
  .weather-info {
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .weather-info {
    padding: 0 40px;
  }
}

@media (min-width: 992px) {
  .weather-card {
    padding-top: 6%;
    padding-bottom: 6%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .weather-card .weather-info {
    background-color: #fafafa;
    padding: 30px 30px;
    display: inline-block;
  }
  .weather-card .weather-info .weather-detail {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .weather-card .weather-info .weather-list ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .weather-card .weather-info .weather-list ul .clickStyle {
    background-color: #f6f6f6;
  }
  .weather-card .weather-info .weather-list ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .weather-card .weather-info .weather-list ul li img {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
  .weather-card .weather-image {
    height: 100vh;
    -webkit-transform: initial;
            transform: initial;
  }
  .weather-card .cardside-image {
    -o-object-fit: cover;
       object-fit: cover;
    display: inline-block;
    max-width: 20%;
  }
}
/*# sourceMappingURL=index.css.map */